.template {

    &__heading {
        margin: 0;
        font-size: 20px;
    }


    &__box {
        margin: 0;
        width: 600px;
        border: 1px solid black;
    }

    &__line {
        line-height: 1.25rem;
        font-size: 1rem;
        margin: 0;

        &--selected {
            background-color: lightblue;
        }
    }

}