.input {
    height: 200px;

    &__heading {
        font-size: 20px;
        font-weight: bold;
    }


    &__form {
        display: flex;
        flex-direction: column;
    }

    &__box {
        height: 100px;
        width: 600px;
    }

    &__btn {
        height: 40px;
        margin-top: 20px;
    }
}