
.score-table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 100px;

    &__title {
        padding-bottom: 5px;
    }

    &__outline {
        outline: 1px solid black;
        border: 1px solid black;
        box-shadow: -10px 10px 0px 0px rgba(33,33,33,1),
        -20px 20px 0px 0px rgba(33,33,33,0.7),
        -30px 30px 0px 0px rgba(33,33,33,0.4),
        -40px 40px 0px 0px rgba(33,33,33,0.1);
        background-color: white;
    }

    &__heading-ctr {
        display: flex;
        justify-content: space-between;
        width: 300px;
        padding: 10px 20px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        width: 300px;
        padding: 10px 20px;
    }
}