@use './styles/partials/fonts' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Golos";
}

html {
  height: 700px;
}

.App {
  min-height: 1150px;
  padding-bottom: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
  outline: 1px solid rgb(128, 100, 0);

  &__title {
    box-shadow: -5px 5px 0px 0px rgba(33,33,33,0.4);
    width: 350px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
  }

}

.toggle {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;

  &__btn {
    width: 150px;
    box-shadow: -5px 5px 0px 0px rgba(33,33,33,0.4);
    outline: 1px solid black;
    border: 1px solid black;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      background-color: black;
      color: white;
  }
  }
}