@use './styles/partials/fonts' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Golos";
  // font-weight: 400;
}

html {
  height: 700px;
}

.App {
  min-height: 1150px;
  padding-bottom: 100px;
  // margin-bottom: 800px;
  outline: 3px dashed purple;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  font-size: 30px;
  font-weight: 600;
  outline: 1px solid rgb(128, 100, 0);

}

.toggle {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 10px;

  &__btn {
    width: 150px;
    box-shadow: -5px 5px 0px 0px rgba(33,33,33,0.4);
    outline: 1px solid black;
    border: 1px solid black;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      background-color: black;
      color: white;
  }
  }
}